.mainpage-container{

}
.mainpage-header{
    /* position: sticky;
    top: 5rem;
    z-index: -10; */
    /* background: url('img/mainpage-img.jpg') no-repeat;
    background-size: cover; */
    background: url('img/mainpage-img.jpg') fixed no-repeat 50% 50%;
    background-size: cover;

    min-height: calc(100vh - 4rem);

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.mainpage-header h1{
    margin-bottom: 5rem;
    color: white;
    text-shadow: black 1px 1px;
}

.mainpage-search {    
    margin-bottom: 10rem;
    width: 30rem;
    padding: 1rem 2rem;
    border: 1px black solid;
    border-radius: 20px;
    background-color: cyan;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.mainpage-search select, 
.mainpage-search input {
    border-radius: 10px;
    background-color: cadetblue;
}

.mainpage-content{
    background-color: yellow;
}