    .show-locals-container {
        display: flex;
        height: 90vh;
    }
    
    .results {
        overflow-y: scroll;
        width: 100%;
    }
    
    .map-container {
        position: relative;
        width: 80%;
    }