.header {
    position: sticky;
    top: 0;
    z-index: 10;
    padding-top: 0.5rem;
    width: 100%;
    background-color: coral;    
    box-shadow: 1px 1px 5px black;
}
.search-modal{
    position: absolute;
    margin: auto;

}